* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	background-color: #0a0f22;
	color: white;
}

h1, .h1 	{ font-size: 100px; font-weight: bolder; }
h2, .h2 	{ font-size: 70px; font-weight: bolder; }
h3, .h3 	{ font-size: 40px; font-weight: bolder; }
h4, .h4 	{ font-size: 20px; font-weight: bolder; }

@media (max-width: 768px) {
	body 	{ font-size: 15px; }
	h1, .h1 { font-size: 85px; }
	h2, .h2 { font-size: 60px; }
	h3, .h3 { font-size: 40px; }
	h4, .h4 { font-size: 30px; }
}
@media (max-width: 576px) {
	body 	{ font-size: 15px; }
	h1, .h1 { font-size: 50px; }
	h2, .h2 { font-size: 35px; }
	h3, .h3 { font-size: 20px; }
	h4, .h4 { font-size: 15px; }
}
header {
	display: flex;
	-webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
	padding: 10px;
	background-color: #191f33;
	z-index: 100;
}
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: white;
	color: #adb0b3;
	display: flex;
    justify-content: space-between !important;
	padding: 5px 30px;
	z-index: 100;
	div a{
		display: block;
		cursor: pointer;
		padding: 0 20px;

		&:hover {
			background-color: #eee;
		}
	}
}

section {
	display: block;
	position: relative;
	padding: 10px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 70px;
};

input {
	width: 100%;
	outline: none;
	border: none;
	background-color: transparent;
	color: white;
}

.title {
	font-size: 1.1em;
	font-weight: bolder;
	color: white;

	img {
		margin-right: 10px;
	}
}

.vcenter {
	display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
	-webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
	color: #666;
}
.success {
	color: #13b545;
}
.round {
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.dropdown-menu li {
	padding: 10px;
	cursor: pointer;
}

.dropdown-menu li:hover {
	background-color: #eee;
}

.home {
	.group {
		display: flex;
    	justify-content: space-between !important;
	}
	.button {
		position: relative;
		background-color: #363d50;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		width: 32%;
		img {
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
		}
		.icon {
			width: 100%;
			height: 100%;
			right: 0;
    		bottom: 0;
			position: absolute;
		}
	}
	
	.social {
		background-color: transparent;
		border: none;
		width: 18%;
	}
}

.mine {
	.ball {
		display: inline-block;
		width: 1.2em;
		height: 1.2em;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}
	.spin {
		background-color:#262c6b;
		padding: 0 5px;
	}
}

[class*=btn-outline-] {
    border-width: 1px;
}

.btn {
    padding: .625rem .625rem .625rem .625rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
